dist: focal
language: node_js
node_js:
  - 16

before_install:

os:
  - linux
  - osx
  - windows

script:
  - npm t
  - echo "PRIVATE_KEY=$PRIVATE_KEY" > .env
  - if [ $TRAVIS_EVENT_TYPE == "cron" ] && [ $TRAVIS_OS_NAME == "linux" ] ; then npm run testnet; fi
